@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";


@source './*.tsx';


@theme {
  --font-outfit: "Outfit", "sans-serif";
  --color-primary: #131A25;
}

@utility container {
  padding-inline: 10px;
  margin-inline: auto;
  
  @variant sm {
    padding-inline: 20px;
  }
  
  @variant lg {
    padding-inline: 30px;
  }
  
  @variant xl {
    padding-inline: 60px;
  }
  @variant 2xl {
    padding-inline: 120px;
  }
}